
        .dropdown:hover .dropdown-menu {
            display: block;
        }
  
        .dropdown {
            margin-left: 40rem;
            margin-right: 40rem;
  
        }
  
        .name {
            text-align: center;
            color: green;
        }